body{
    background-color: white;
}
#calculator{
    width:280px;
    height:450px;
    margin:20px auto;
    padding:20px;
    border-radius:15px;
    border:1px solid #A3A3A3;
    background-color:#EDEDED ;
}

.show{
    width:260px;
    height:60px;
    margin:10px auto;
    border-radius:3px;
    background:#8B8970;
    font-size:20px;
    line-height:60px;
    text-align:right;
    border:2px solid black;
}
.keys{
    width:260px;


    margin:25px auto;

}

#calculator a.button{
    display:block;
    background-color:white;
    width:50px;
    height:40px;
    border:1px solid #CCCCCC;
    float:left;
    border-radius: 5px;
    margin:5px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-family: 'Yanone Kaffeesatz';
    box-shadow: 0px 7px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);

}

#calculator a.button:active{
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 0px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

.keys .sign1{
    background-color: #AAAAAA;
    color:white;

}
.keys .sign{
   background-color:  #2B2B2B;
    color:white;
}
#calculator .keys .zero a{
    width:110px;
}
#calculator .keys .equal a{
    height:95px;
    float: right;
    margin: 5px 17px 0px 0px ;
    line-height: 95px;
    background-color: #EE7942;
}
.unselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;

    /* 以下两个属性目前并未支持，写在这里为了减少风险 */
    -o-user-select: none;
    user-select: none;
}